body {
  font-family: sans-serif;
  display: block;
  margin: 0;
  padding: 0px;
  height: 100vh
  width: 100vw;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.InformazioniBase {
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
  width: 100vw;
}
